.square {
	width: 30%;
	padding-bottom: 30%;
	float: left;
	margin: 1.6%;
	border-radius: 10px;
}

.container {
	width: 40%;
	margin: auto;

}

.container:after{
    clear: both;
    content: "";
    display: block;
}

button {
	margin: 20px;
	font-size: 40px;
	background-color: orange;
	border-radius: 20px;
	border:0px;
	padding: 5px;
}

#button_container {
	text-align: center;
}

header {
	text-align:center;
	width: 100%;
}

.winner h1 {
	color: green;
}

.winner::before {
	content: "WINNER!!!--";
}

.winner::after {
	content: "--WINNER!!!";
}